body {
  font-family: Arial, sans-serif;
  background: white;
  margin: 0;
  padding: 0;
}
.home-container {
  text-align: center;
  margin-top: 120px;
}

.home-container button {
  padding: 12px 20px;
  cursor: pointer;
}

.nav {
  padding: 15px;
}

.center {
  text-align: center;
}
#formSection {
  width: 320px;
  background: white;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

#formSection input,
#formSection select,
#formSection button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.controls {
  width: fit-content;
  margin: 20px auto;
  display: flex;
  gap: 15px;
}

controls button, .controls select {
  padding: 10px;
}
#booksContainer {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 20px;
}
.book-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.book-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.deleteBtn {
  margin-top: 12px;
  padding: 8px 14px;
  background: tomato;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
